{{extend 'layout.html'}}
<h2>{{=T('Memberlist')}}</h2>
<table width="100%" class="table-block">
<tr>
    <th></th>
    <th>{{=T('User')}}:</th>
    <th>{{=T('Topics')}}:</th>
</tr>
{{if count > 0:}}
    {{for row in user:}}
<tr>
    <td width="20"><img src="{{=URL('static','icons',args='user_suit.png')}}" /></td>
    <td width="250"><strong><a href="{{=URL('user','profile',args=row.id)}}">{{=row.first_name}} {{=row.last_name}}</a></strong></td>
    <td width="700">{{=row.forum_posts}} topics</td>
</tr>
{{pass}}
{{else:}}
<tr>
    <td colspan="3">{{=T('There are no users signed up yet!')}}</td>
</tr>
{{pass}}
</table>